{% extends 'layout.html' %}


{% block body %}
    <p> By three methods we may learn wisdom: First, by reflection, which is noblest; Second, by imitation, which is easiest; and third by experience, which is the bitterest.<br><br>
    LearnTo help yourself, you must be yourself.Be the best that you can be. When you make a mistake, learn from it, pick yourself up and move on. </p>

    <video id ="add" width="500" height="350" controls>

    <source src="video/flask.mp4" type="video/mp4">
                Please update the browsers

    </video> 
    
{% endblock %}